<!-- <section id="home"> -->
<div class="container-fluid">
  <div class="row" id="inbox-label">
    <div class="col-md-1"></div>
    <div class="col-md-4">Tweets Inbox</div>
    <div class="col-md-1">Sentiment</div>
    <div class="col-md-1">Score</div>
    <div class="col-md-1">Influencer</div>
    <div class="col-md-2">Since</div>
    <!-- <div class="col-md-2">Create Room</div> -->
  </div>

  <div class="row" ng-repeat="mention in realtime | orderBy : '-time' | limitTo: 50 ">
    <div ng-click="reply($index, mention)" id="incomingTweet">
    <div class="col-md-1"><img class="img-circle" src="{{mention.user.profile_image_url}}"></div>
    <div class="col-md-4">
      <span id="user-name">{{ mention.user.name }}</span>
      <span id="screen-name">@{{ mention.user.screen_name }}</span>
      <p>{{ mention.text }}</p>
    </div>
    <div class="col-md-1">
      <!-- ng-class -->
      <button class="sentiment-label"
              ng-class="{'red': mention.sentiment.score < -0.5 ,
                         'orange': mention.sentiment.score < 0 && mention.sentiment.score >= -0.5,
                         'yellow': mention.sentiment.score === 0,
                         'lgreen': mention.sentiment.score < 0.5 && mention.sentiment.score > 0,
                         'green': mention.sentiment.score < 1 &&  mention.sentiment.score >= 0.5}">
              {{ mention.sentiment.type }}</button>
    </div>
    <div class="col-md-1" id="score">{{ mention.sentiment.score }}</div>
    <div class="col-md-1" id="score">{{ mention.user.followers_count }}</div>
    <div class="col-md-2" id="score">{{ mention.created_at }}</div>
    <div class="col-md-1" ng-show="mention.loading===true"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
    </div>


    <div id='replyform' ng-show = "arr[$index]">
      <!-- <md-input-container >
      <!-- Use floating placeholder instead of label -->

      <!-- </md-input-container> -->
      <img id="twitter-logo" src="http://www.aedweb.org/web/images/twitter-big.png" height="40px" width="40px">
      <md-input-container >
      <!-- Use floating placeholder instead of label -->
      <!-- <input ng-model="mention.reply.name" ng-change="realtime.$save(mention)" placeholder="Name"> -->

      <input ng-model="mention.reply.text" ng-change="realtime.$save(mention); checkToLoad(mention)" placeholder="Tweet Back" padding-top="1px">
      </md-input-container>
      <md-button md-no-ink class="md-primary" ng-click="viewProfile(mention)">View Profile</md-button>
      <!-- <md-button class="md-raised" ng-click="viewProfile(mention)">View Profile</md-button> -->
      <md-button class="md-raised md-primary" ng-click="post(mention, $index)" >Tweet</md-button>
      <md-button class="md-raised md-warn" ng-click="close($index, mention)">Close</md-button>


      <!-- Button -->
      <!-- <md-button class="md-fab md-primary" aria-label="Use Android">
          <md-icon md-svg-src="http://www.aedweb.org/web/images/twitter-big.png"></md-icon>
        </md-button> -->
            <!-- <button type="submit" ng-click="post(mention, $index)" class="btn btn-default">Tweet</button> -->
      <!-- <button type="submit" ng-click="close($index, mention)" class="btn btn-default">Close</button> -->


      <!-- <form>
        <input type="text" ng-model="mention.reply.name" ng-change="realtime.$save(mention)" id="write" placeholder="Your name">
        <input type="text" ng-model="mention.reply.text" ng-change="realtime.$save(mention)" id="write" placeholder="Be nice and polite...">
      </form> -->
    </div>

    <md-divider md-inset ng-if="!$last"></md-divider>
  </div>


</div>
<!-- </section> -->
