<!-- <nav class="navbar navbar-static-top"> -->
  <div class="navbar-header">
      <smedo-logo></smedo-logo>
  </div>

    <div class="container">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="item in items">

                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </md-tab>
          </md-tabs>
    </div>
<!-- </nav> -->


<!-- </md-content> -->
<!-- </ul> -->

<!-- search -->
<!-- <form id='search-bar' class="navbar-form navbar-left" role="search">
    <input ng-model="searchQuery.data"type="text" class="form-control" placeholder="Search Keyword">
  <a ng-click="search(searchQuery.data)"  type="submit"><i id='nav-icons' class="fa fa-search"></i></a>
</form> -->

<!-- ng-show="!item.auth || isLoggedIn()" -->
<!-- <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
<div ng-show="user" class="welcome">
    <span>Welcome, {{ user.email }}!</span>
    <a ng-click="logout()">Logout</a>
</div> -->



<!-- <ul class="nav navbar-nav"> -->
<!-- <md-content class="md-padding"> -->
