<div id='replyform' ng-show = "form[$index]">
    <img id="twitter-logo" height="30px" src="../img/Twitter-Logo.png" />
    <md-input-container >
        <input
        ng-model="firebaseRes[tweet._id]"
        ng-change="reply(firebaseRes[tweet._id],tweet)"
        placeholder="Tweet Back" padding-top="1px">
    </md-input-container>

    <md-button md-no-ink class="md-primary" ng-click="viewProfile(tweet.twuser)">View Profile</md-button>
    <md-button class="md-raised md-primary" ng-click="post(mention, $index)" >Tweet</md-button>
    <md-button class="md-raised md-warn" ng-click="close($index, mention)">Close</md-button>
</div>
