#hashtag-container {
  width: 500px;
  float: left;
}

#tophashtag-reach-graph {
  padding-top: 20px;
}


#sentiment-donut {
  float:left;
}

#donut-label {
  padding-left: 20px;
  display: inline;
}

#word-cloud {
  text-align: center;
}

#table-chart {
  padding-top: 20px;
}
